
* {
 font-family: Arial;
}

/*div{
	font-family: sansationFont;
}

h1{
	font-family: sansationFont;
}*/

ul{
	display:inline-block;
	color:red;
	list-style-type: disc;
	font-size: 13pt;
}

/*
ul:visited{
	color:sansationFont;
}*/
div#navi{
	height:180px;
	background-color: #F5DA81;
	color: black;
	text-align: center
}

div#mainbody{
	background-color: #DCDCDC;
	height:100%;
}

div#mainpage {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 10%;
	margin-right: 10%;
	height:100%;
}
div#blog{
	text-align: left;
	color:black;
}

a{
	color:blue;
  padding-right: 25px;
	text-decoration: none;
}
a.nopadding{
	padding-right: 0px;
}
a:hover{
	color:black;
	text-decoration: underline;
}

a.current{
	color:black;
	font-weight: bold;
}

.center{
	padding-left: 15%;
	margin:auto;
	padding-right: 15%
}

.bigcontainer {
	display: flex;
}
div.logo {
    margin: 40px;
    float: left;
    width: auto;
}


.logocontainer {
  border: 0;
  float: left;
  position: relative;
	margin-right: 20;
}

.cornerimage {
  border: 0;
  position: absolute;
  bottom: 0;
  right: 0;
	width: 50;
	height: 50;
 }

h3 {
    text-align: left;
}

.gifcontainer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.giftext {
	padding: 20px;
}
